 # Taller Feature Engineering TFIDF ü§†

<br><b>Creador:</b> Norma Yuliana Cala Mart√≠nez
<br><b>Email: </b> normisss11@gmail.com
<br><b>Fecha creacion:</b> Septiembre 12, 2020

#### Punto 1: Pre-Procesamiento

    a. Leer el archivo Princesas.csv usando pandas y crear una nueva columna con el texto en min√∫scula, sin caracteres especiales ni n√∫meros, sin palabras vacias y hacer stemming de las palabras

#### Punto 2:
    a. Crear la matriz TF-IDF
    
#### Punto 3 : Distancia del coseno

    a. Calcular la distancia del coseno entre cada una de las princesas
    b. ¬øCu√°les son las princesas m√°s parecidas?
    c. ¬øCu√°les son las princesas m√°s diferentes?

## Soluci√≥n de taller TD_IDF

### Punto 1 üò≤
a. Leer el archivo Princesas.csv usando pandas y crear una nueva columna con el texto en min√∫scula, sin caracteres especiales ni n√∫meros, sin palabras vacias y hacer stemming de las palabras.

In [64]:
import re
import numpy as np
import pandas as pd

from nltk.corpus import stopwords
stopwords_sp = stopwords.words('spanish')

from nltk.stem.snowball import SnowballStemmer
spanishStemmer=SnowballStemmer("spanish")

from sklearn.feature_extraction.text import TfidfVectorizer # Para hacer TFIDF
from sklearn.metrics.pairwise import cosine_similarity

In [65]:
# üìù Leer plano y visualizar la informaci√≥n.

data = pd.read_csv("Princesas.csv" , encoding="utf-8")
data

       Princesa                                       Personalidad
0  Blancanieves  Blancanieves es una princesa de noble cuna que...
1    Cenicienta  Cenicienta es inicialmente una sirvienta en su...
2        Aurora  La Princesa Aurora, la Bella Durmiente, es la ...
3         Bella  Bella es una muchacha que vive en la campi√±a¬†f...
4        Jasm√≠n  Cuando se introdujo por primera vez, la Prince...
5    Pocahontas  El nombre de Pocahontas significa "Peque√±a Sil...
6         Mulan  Mulan es at√≠pica a los anteriores papeles feme...
7         Tiana  Es una joven camarera que sue√±a con ser due√±a ...
8        M√©rida  M√©rida llama la atenci√≥n por su caracter√≠stico...
9         Moana  Moana, una joven de 16 a√±os de edad, hija √∫nic...

##### Realizar tratamiento de datos.

In [66]:
# Funci√≥n
def preproceso(texto):
    texto = texto.lower()   # Minusculas
    texto = re.sub(r"[\W\d_]+", " ", texto) # Caracteres especiales y n√∫meros.
    texto = " ".join([spanishStemmer.stem(palabra) for palabra in texto.split() if palabra not in stopwords_sp]) 
    return texto

# [spanishStemmer.stem(palabra) # Stemming del documento

In [67]:
data['preproceso'] = data['Personalidad'].apply(lambda texto: preproceso(texto)) # Palabras vac√≠as.
data

,Princesa,Personalidad,preproceso
0,Blancanieves,Blancanieves es una princesa de noble cuna que...,blancaniev princes nobl cun ve forz servidumbr...
1,Cenicienta,Cenicienta es inicialmente una sirvienta en su...,cenicient inicial sirvient cas constant objet ...
2,Aurora,"La Princesa Aurora, la Bella Durmiente, es la ...",princes auror bell durmient hij unic rein flor...
3,Bella,Bella es una muchacha que vive en la campi√±a¬†f...,bell muchach viv campi√± frances padr inventor ...
4,Jasm√≠n,"Cuando se introdujo por primera vez, la Prince...",introduj primer vez princes jasmin poc dias de...
5,Pocahontas,"El nombre de Pocahontas significa ""Peque√±a Sil...",nombr pocahont signif peque√± silenci bas figur...
6,Mulan,Mulan es at√≠pica a los anteriores papeles feme...,mul atip anterior papel femenin pelicul disney...
7,Tiana,Es una joven camarera que sue√±a con ser due√±a ...,jov camarer sue√± ser due√± propi restaur algun ...
8,M√©rida,M√©rida llama la atenci√≥n por su caracter√≠stico...,mer llam atencion caracterist pel anaranj oscu...
9,Moana,"Moana, una joven de 16 a√±os de edad, hija √∫nic...",moan jov a√±os edad hij unic sucesor import jef...

#### Punto 2:
    a. Crear la matriz TF-IDF

In [68]:
# tfidf_matrix

tfidf_vect = TfidfVectorizer()
tfidf = tfidf_vect.fit_transform(data.preproceso.values)

tfidf_matrix = pd.DataFrame(data=tfidf.toarray(), columns=tfidf_vect.get_feature_names())
tfidf_matrix = tfidf_matrix.T.round(3)
tfidf_matrix.columns = ["Blancanieves","Cenicienta","Aurora","Bella","Jasm√≠n","Pocahontas","Mulan","Tiana","M√©rida","Moana"]

#Trasponer
tfidf_matrix

,Blancanieves,Cenicienta,Aurora,Bella,Jasm√≠n,Pocahontas,Mulan,Tiana,M√©rida,Moana
abrum,0.000,0.0,0.065,0.000,0.000,0.000,0.0,0.000,0.00,0.000
abuel,0.000,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.00,0.102
acuerd,0.000,0.0,0.056,0.000,0.000,0.000,0.0,0.000,0.08,0.000
ademas,0.000,0.0,0.000,0.000,0.000,0.099,0.0,0.000,0.00,0.000
afortun,0.087,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.00,0.000
...,...,...,...,...,...,...,...,...,...,...
viv,0.000,0.0,0.000,0.074,0.000,0.000,0.0,0.000,0.00,0.087
volunt,0.000,0.0,0.000,0.000,0.161,0.000,0.0,0.000,0.00,0.000
volv,0.000,0.0,0.065,0.000,0.000,0.000,0.0,0.000,0.00,0.000
vudu,0.000,0.0,0.000,0.000,0.000,0.000,0.0,0.122,0.00,0.000
wak,0.000,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.00,0.102

#### Punto 3 : Distancia del coseno

    a. Calcular la distancia del coseno entre cada una de las princesas.
<img src='COSENO.png'></h3>

In [70]:
from sklearn.metrics.pairwise import cosine_distances
 
dist_cos = cosine_distances(tfidf_matrix.T.values)
dist_cos = pd.DataFrame(dist_cos, columns = tfidf_matrix.columns, index = tfidf_matrix.columns)

dist_cos

,Blancanieves,Cenicienta,Aurora,Bella,Jasm√≠n,Pocahontas,Mulan,Tiana,M√©rida,Moana
Blancanieves,0.000000,0.846420,0.842223,0.918112,0.935103,0.922165,0.884147,0.960082,0.985136,0.951298
Cenicienta,0.846420,0.000000,0.858412,0.947243,0.959209,0.960479,0.932663,0.918639,0.970839,0.974925
Aurora,0.842223,0.858412,0.000000,0.832503,0.937195,0.868994,0.919500,0.939231,0.940723,0.965930
Bella,0.918112,0.947243,0.832503,0.000000,0.888219,0.890513,0.882169,0.973338,0.943607,0.923546
Jasm√≠n,0.935103,0.959209,0.937195,0.888219,0.000000,0.942753,0.935198,0.937868,0.972505,0.968929
Pocahontas,0.922165,0.960479,0.868994,0.890513,0.942753,0.000000,0.888844,0.968918,0.979646,0.936091
Mulan,0.884147,0.932663,0.919500,0.882169,0.935198,0.888844,0.000000,0.991170,0.987267,0.945844
Tiana,0.960082,0.918639,0.939231,0.973338,0.937868,0.968918,0.991170,0.000000,0.979275,0.971443
M√©rida,0.985136,0.970839,0.940723,0.943607,0.972505,0.979646,0.987267,0.979275,0.000000,0.971818
Moana,0.951298,0.974925,0.965930,0.923546,0.968929,0.936091,0.945844,0.971443,0.971818,0.000000

    b. ¬øCu√°les son las princesas m√°s parecidas?

In [90]:
nombre_princesas = ["Blancanieves","Cenicienta","Aurora","Bella","Jasm√≠n","Pocahontas","Mulan","Tiana","M√©rida","Moana"]

for nombre in nombre_princesas:
    result = dist_cos [nombre].idxmin()
    print(result +" >>> es la m√°s diferente de " + nombre)

Blancanieves >>> es la m√°s diferente de Blancanieves
Cenicienta >>> es la m√°s diferente de Cenicienta
Aurora >>> es la m√°s diferente de Aurora
Bella >>> es la m√°s diferente de Bella
Jasm√≠n >>> es la m√°s diferente de Jasm√≠n
Pocahontas >>> es la m√°s diferente de Pocahontas
Mulan >>> es la m√°s diferente de Mulan
Tiana >>> es la m√°s diferente de Tiana
M√©rida >>> es la m√°s diferente de M√©rida
Moana >>> es la m√°s diferente de Moana

    c. ¬øCu√°les son las princesas m√°s diferentes?

In [91]:
for nombre in nombre_princesas:
    result = dist_cos [nombre].idxmax()
    print(result +" es la m√°s diferente de " + nombre)

M√©rida es la m√°s diferente de Blancanieves
Moana es la m√°s diferente de Cenicienta
Moana es la m√°s diferente de Aurora
Tiana es la m√°s diferente de Bella
M√©rida es la m√°s diferente de Jasm√≠n
M√©rida es la m√°s diferente de Pocahontas
Tiana es la m√°s diferente de Mulan
Mulan es la m√°s diferente de Tiana
Mulan es la m√°s diferente de M√©rida
Cenicienta es la m√°s diferente de Moana